                @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
                 :root {
                    --primary-color: #5598fd;
                    --nav-width: 68px;
                    --first-color: #4723d9;
                    --first-color-light: #afa5d9;
                    --white-color: #f7f6fb;
                    --body-font: "Nunito", sans-serif;
                    --normal-font-size: 1rem;
                    --z-fixed: 100;
                }
                
                html {
                    overflow: hidden;
                }
                
                * {
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                    font-family: "rubik", sans-serif;
                }
                
                body {
                    margin: 0;
                    font-family: 'rubik', sans-serif;
                }
                
                a {
                    text-decoration: none;
                }
                
                .content {
                    font-size: 12px;
                }
                
                .container {
                    position: flex;
                    max-width: 100%;
                    min-height: 100vh;
                    justify-content: space-between;
                    align-items: flex-start;
                    flex-direction: column;
                    padding: 2em 1em 3em 5em;
                }
                
                .back-bg {
                    position: flex;
                    max-width: 100%;
                    height: 100%;
                    min-height: fit-content;
                    align-items: flex-start;
                    flex-direction: column;
                    background: #111;
                    background: var(--primary-color);
                    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/day/c");
                    background-size: cover;
                    background-position: center;
                    transition: background-image 0.3s ease;
                }
                
                img {
                    width: 100%;
                }
                
                .wrapper {
                    display: flex;
                    width: 1200px;
                    min-width: 900px;
                    border-radius: 20px;
                    overflow: hidden;
                }
                
                .details {
                    margin-bottom: 10px;
                    padding-left: 6px;
                }
                
                .sidebar_content {
                    margin-left: 8px;
                }
                
                .sidebar {
                    position: fixed;
                    width: 25%;
                    height: 100%;
                    top: 0;
                    right: 0;
                    background-image: linear-gradient( 95.2deg, rgba(173, 252, 234, 1) 26.8%, rgba(192, 229, 246, 1) 64%);
                    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
                    border: 1px solid rgba(255, 255, 255, 0.18);
                    z-index: 1;
                    padding: 1em;
                    overflow-y: scroll;
                }
                
                .search-box {
                    width: 100%;
                    position: relative;
                    margin: 10px 0 20px 0;
                    align-items: center;
                }
                
                ul {
                    padding: 0;
                }
                
                .input-search {
                    height: 40px;
                    width: 0;
                    border-style: none;
                    margin-left: 5px;
                    letter-spacing: 2px;
                    outline: none;
                    transition: all .5s ease-in-out;
                    color: rgb(253, 52, 16);
                    border-radius: 10px;
                }
                
                .input-search::placeholder {
                    color: #ffd78d;
                    font-size: 14px;
                    letter-spacing: 2px;
                    font-weight: 100;
                }
                
                .btn-search {
                    width: 40px;
                    height: 40px;
                    border-style: none;
                    background: var(--primary-color);
                    color: #fff;
                    font-size: 14px;
                    cursor: pointer;
                    border-radius: 10px;
                    outline: none;
                    position: absolute;
                    background-color: #0083b0;
                    font-weight: bold;
                    left: 0;
                }
                
                .btn-search:focus~.input-search {
                    width: 100%;
                    padding-left: 40px;
                    transition: all 500ms cubic-bezier(.58, 0, .19, 1);
                    box-shadow: -34px 13px 26px -6px rgba(0, 0, 0, 0.26);
                    -webkit-box-shadow: -34px 13px 26px -6px rgba(0, 0, 0, 0.26);
                    -moz-box-shadow: -34px 13px 26px -6px rgba(0, 0, 0, 0.26);
                }
                
                .input-search:focus {
                    width: 100%;
                    padding-left: 40px;
                    box-shadow: -34px 13px 26px -6px rgba(0, 0, 0, 0.26);
                    -webkit-box-shadow: -34px 13px 26px -6px rgba(0, 0, 0, 0.26);
                    -moz-box-shadow: -34px 13px 26px -6px rgba(0, 0, 0, 0.26);
                }
                
                .weather-icon {
                    width: 100%;
                    text-align: center;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    object-fit: cover;
                }
                
                .weather-icon #icon {
                    width: 100%;
                    object-fit: cover;
                }
                
                .temperature {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                
                .temperature #temp {
                    font-size: 20px;
                    font-weight: 100;
                    line-height: 1;
                }
                
                .temperature span {
                    font-size: 20px;
                    margin-top: -10px;
                    display: block;
                }
                
                .temp_spacing {
                    margin-left: 5rem;
                }
                
                .divider {
                    width: 100%;
                    height: 1px;
                    background: #e9ecef;
                    margin: 10px 0;
                }
                
                .condition-rain {
                    font-size: 12px;
                    text-transform: capitalize;
                }
                
                .condition-rain div {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin-bottom: 10px;
                }
                
                .condition-rain div i {
                    width: 20px;
                }
                
                .location {
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    gap: 10px;
                }
                
                .main {
                    max-width: 100%;
                    padding-bottom: 90px;
                    z-index: 1;
                }
                
                .main nav {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                
                .main nav .options {
                    display: flex;
                    gap: 20px;
                    align-items: center;
                }
                
                .main nav .options button {
                    border: none;
                    background: none;
                    font-size: 16px;
                    font-weight: 600;
                    color: #495057;
                    cursor: pointer;
                    text-transform: capitalize;
                }
                
                .main nav .options button.active {
                    color: var(--primary-color);
                }
                
                .main nav .units button {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    color: #1a1a1a;
                    background-color: #fff;
                }
                
                .main nav .units button.active {
                    color: #fff;
                    background-color: #1a1a1a;
                }
                
                .main .cards {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                    margin-top: 50px;
                    justify-content: center;
                }
                
                .cards .card {
                    width: 95px;
                    height: 110px;
                    border-radius: 20px;
                    color: #1a1a1a;
                    background-color: rgba(125, 125, 125, 0.3);
                    text-align: center;
                    padding: 10px 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
                
                .card h2 {
                    font-size: 15px;
                    font-weight: 600;
                }
                
                .card .card-icon {
                    width: 50%;
                    margin: 0 auto;
                }
                
                .card .day-temp {
                    font-size: 12px;
                    display: flex;
                    justify-content: center;
                    display: flex;
                }
                
                .highlights {
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 50px;
                    justify-content: center;
                    align-items: center;
                }
                
                .highlights .heading {
                    width: 100%;
                    font-size: 20px;
                    font-weight: 600;
                    text-transform: capitalize;
                }
                
                .card2 {
                    width: 250px;
                    height: 150px;
                    border-radius: 20px;
                    color: #1a1a1a;
                    background-color: #fff;
                    padding: 10px 20px;
                    display: flex;
                    flex-direction: column;
                }
                
                .card2 .card-heading {
                    color: #c2c2c2;
                }
                
                .card2 .content {
                    margin-top: 20px;
                }
                
                .card2 .content p:first-child {
                    text-align: center;
                    font-size: 30px;
                }
                
                .card2 .content p:nth-child(2) {
                    font-size: 12px;
                    margin-top: 20px;
                    text-align: left;
                }
                
                .header_toggle {
                    color: var(--first-color);
                    font-size: 1.5rem;
                    cursor: pointer;
                }
                
                .l-sidebar {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: var(--nav-width);
                    height: 100vh;
                    background: #00b4db;
                    /* fallback for old browsers */
                    background: -webkit-linear-gradient(to right, #00b4db, #0083b0);
                    /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to right, #00b4db, #0083b0);
                    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                    box-shadow: 0 8px 32px 0 rgb(0, 0, 0 / 30%);
                    padding: 0.5rem 1rem 0 1rem;
                    border: transparent;
                    transition: 0.5s;
                    z-index: var(--z-fixed);
                    overflow-y: scroll;
                    overflow-x: hidden;
                }
                
                .sidebar_menu {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    overflow-y: scroll;
                    overflow-x: hidden;
                    display: grid;
                }
                
                .sidebar_logo {
                    margin-bottom: 2rem;
                }
                
                .sidebar_logo-icon {
                    font-size: 1.25rem;
                    color: var(--white-color);
                }
                
                .sidebar_logo-name {
                    color: var(--white-color);
                    font-weight: 700;
                }
                
                .sidebar_link {
                    position: relative;
                    color: var(--first-color-light);
                    transition: 0.3s;
                    display: grid;
                    grid-template-columns: max-content max-content;
                    align-items: center;
                    column-gap: 1rem;
                    padding: 0.5rem 0 0.5rem 10px;
                }
                
                .sidebar_link:hover {
                    color: var(--white-color);
                }
                
                .sidebar_icon {
                    font-size: 1.25rem;
                }
                
                .show {
                    left: 0;
                }
                
                .body-pd {
                    padding-left: calc(var(--nav-width) + 1rem);
                }
                
                .active {
                    color: var(--white-color);
                }
                
                .active::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    width: 2px;
                    height: 32px;
                    background-color: var(--white-color);
                }
                
                .height-100 {
                    height: 100vh;
                }
                
                 ::-webkit-scrollbar {
                    width: 0;
                    background: transparent
                }
                
                @media screen and (min-width: 768px) {
                    body {
                        margin: calc(var(--header-height) + 1rem) 0 0 0;
                    }
                    .container {
                        max-width: 100%;
                    }
                    .header {
                        height: calc(var(--header-height) + 1rem);
                        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
                    }
                    .header_img {
                        width: 40px;
                        height: 40px;
                    }
                    .header_img img {
                        width: 45px;
                    }
                    .l-navbar {
                        z-index: 1;
                    }
                    .show {
                        width: calc(var(--nav-width) + 180px);
                        top: 0;
                        padding: 1em;
                    }
                    .body-pd {
                        padding-left: calc(var(--nav-width) + 70px);
                    }
                }
